{% load static %}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description"
      content="قالب فرشگاهی نواچین، بهترین قالب برای فروشگاه‌های اینترنتی با طراحی مدرن و واکنش‌گرا.">
<meta name="keywords" content="قالب فروشگاهی, قالب نواچین, فروشگاه اینترنتی, طراحی واکنش‌گرا">
<meta name="robots" content="index, follow">
<meta name="author" content="">
<meta name="copyright" content="All rights belong to diara.">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon_io/favicon-16x16.png' %}">
<link rel="canonical" href="https://example.com/your-page-url">
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
    .hex-box {
        width: 200px;
        height: 220px;
        background: #f0f0f0;
        margin: 20px auto;' %}            display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        /* شکل شش‌ضلعی افقی */
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      }
</style>

